<ion-view view-title="ME">
  <ion-content padding="true">
    <div class="box">
      <p>
        您的账户总额：<b class="money">{{member.capital.total | currency : '￥'}}</b>，<br/>
        冻结总额：<b class="money">{{member.capital.frozen | currency : '￥'}}</b>，<br/>
        正在提现总额：<b class="money">{{member.moneyApply | currency : '￥'}}</b>，<br/>
        可提现总额：<b class="money">{{member.capital.available | currency : '￥'}}</b>，<br/>
        收获金额最少<em class="money">{{config.key3[0] | currency : '￥'}}</em>，<br/>
        不能大于账户可用总余额，且必须是<em class="money">{{config.key3[1]}}</em>的整倍数
      </p>
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="请输入收获金额" ng-model="data.money">
        </label>
      </div>
      <button class="button button-block btn-apply" ng-click="apply()">我要收获</button>
    </div>
  </ion-content>
</ion-view>
