<ion-view title="收获">
    <ion-content padding="true">
        <h4 class="text-center">收获记录</h4>
        <div class="table bg-dark-alpha">
            <div class="row">
                <div class="col-20">
                     <span class="color-green">{{apply.state < 100 ? '正在收获' : '收获完成'}}</span>
                </div>
                <div class="col-80">
                    <div class="progress">
                        <div class="progress-bar" style="position:absolute" ng-style="{width : progress + '%'}">
                        </div>
                        <label class="progress-text" ng-style="{left : (progress + 1) + '%'}">{{progress}}%</label>
                        <i class="progress-btn" ng-style="{left : (progress - 1) + '%'}"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>金额：</label>
                    <br>
                    <span class="money">
                        {{apply.money | currency : '￥'}}
                    </span>
                </div>
                <div class="col">
                    <label>时间：</label>
                    <br>
                    <time>
                        {{apply.the_time | datetime}}
                    </time>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>匹配人数：</label>
                    <br>
                    <span class="number">
                        {{pairs.length}}
                    </span>
                </div>
                <div class="col">
                    <label>状态：</label>
                    <br>
                    <span class="state2 state2-{{apply.state}}">
                        {{apply.state | orderstate}}
                    </span>
                </div>
            </div>
        </div>

        <ion-list>
            <ion-item ng-repeat="item in pairs">
                <div class="box">
                    <div class="sub-order">
                        <label>匹配金额：</label><span class="money">{{item.money | currency : '￥'}}</span>
                        <br>
                        <label>状态：</label><span class="state state-{{item.state}}">{{item.state | suborderstate}}</span>
                        <br>
                        <label>匹配时间：</label><time>{{item.the_time | datetime}}</time>
                        <br>
                        <label>打款时间：</label><time>{{item.pay_time | datetime}}</time>
                        <br>
                        <label>对方账号：</label><span>{{item.offerMember.username}}</span>
                        <br>
                        <label>对方姓名：</label><span>{{item.offerMember.truename}}</span>
                        <br>
                        <label>手机号：</label><span>{{item.offerMember.mobile}}</span>
                        <br>
                        <label>收款款倒计时：</label><time>{{remainTime(item.pay_time, 0)}}</time>
                    </div>
                    <div class="sub-order-oper text-center">
                        <div ng-if="item.state == 2">
                            <span>等待对方打款</span>
                        </div>
                        <div ng-if="item.state == 3">
                            <img class="snapshot" ng-src="{{item.img}}">
                            <a href="" class="">确认收款</a>
                            <div ng-if="item.judge == 1">
                                <span>平台仲裁中......</span>
                            </div>
                            <div ng-if="item.judge == 2">
                                <span>仲裁被驳回</span>
                            </div>
                            <div ng-if="item.judge == 3">
                                <a href="" class="">仲裁</a>
                            </div>
                        </div>
                        <div ng-if="item.state == 4">
                            <img class="snapshot" ng-src="{{item.img}}">
                            <label class="state state-4">订单已完成</label>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>