<ion-view view-title="ME">
  <ion-content>
    <ion-tabs class="tabs-striped tabs-bottom tabs-background-dark tabs-color-energized">
        <ion-tab title="在线留言">
          <ion-content padding="true">
            <div class="list">
              <label class="item item-input">
                <span class="input-label">留言标题：</span>
                <input type="text" value="">
              </label>
              <label class="item item-input item-select">
                <span class="input-label">问题类型：</span>
                <select>
                  <option>建议或意见</option>
                  <option selected>信息咨询</option>
                  <option>申请账户解冻</option>
                  <option>投诉举报</option>
                </select>
              </label>
              <label class="item item-input">
                <span class="input-label">上传图片：</span>
                <input type="file" value="">
              </label>
              <label class="item item-input">
                <span class="input-label">留言内容：</span>
                <textarea style="height:150px"></textarea>
              </label>
              <button class="button button-balanced button-block">提交留言</button>
            </div>
          </ion-content>
        </ion-tab>

        <ion-tab title="留言反馈">
          <ion-content padding="true">
            <ion-list>
              <ion-item>
                <div class="line" style="line-height:45px;">
                  <i class="avator-female"></i>
                  <span>晓燕</span>
                  <time>2016-06-22 14:36:35</time>
                  <br>
                  <span>您在干啥呢？</span>
                </div>
                <div style="line-height:45px;">
                  <i class="avator-dmd"></i>
                  <span>多米多客服</span>
                  <time>2016-06-22 14:36:35</time>
                  <br>
                  <span>我在工作</span>
                </div>
              </ion-item>
            </ion-list>
          </ion-content>
        </ion-tab>

    </ion-tabs>
  </ion-content>
</ion-view>
