<ion-view view-title="ME">
  <ion-content>
      <div class="box me-avator">
		  <img src="images/female1.jpg">
	  </div>
	  <div class="box">
		  <strong>高诚</strong>
		  <span>
			  <img src="images/level.png">
			  <span>经理人</span>
		  </span>
		  <span>
			  诚信 ： 
			  <img src="images/love-color.png">
			  <img src="images/love-color.png">
			  <img src="images/love-color.png">
			  <img src="images/love-color.png">
			  <img src="images/love-gray.png">
		  </span>
	  </div>
	  <div class="box">
		  <ul>
			  <li>
				  <h3>DMD币</h3>
				  <span>￥0.00</span>
			  </li>
			  <li>
				  <h3>本金总额</h3>
				  <span>￥50036.00</span>
			  </li>
			  <li>
				  <h3>利息总额</h3>
				  <span>￥490.36</span>
			  </li>
			  <li>
				  <h3>奖金总额</h3>
				  <span>￥14002.00</span>
			  </li>
		  </ul>
	  </div>
	  <div class="box">
			<button class="button btn-offer">
				我要播种
			</button>
			<button class="button btn-apply">
				我要收获
			</button>
	  </div>
	  <div class="box">
		  <h3>正在播种...</h3>
		  <div class="table">
			  <div class="row">
				  <span class="cell">
					  <label>金额：</label>  <span>￥500310.00</span>
				  </span>
				  <span class="cell">
					  <label>时间：</label>  <span>2016-06-23 13:55:26</span>
				  </span>
			  </div>
			  <div class="row">
				  <span class="cell">
					  <label>利息：</label>  <span>￥75120.00</span>
				  </span>
				  <span class="cell">
					  <label>匹配人数：</label>  <span>0人</span>
				  </span>
				  <span class="cell">
					  <label>状态：</label>  <span>进行中...</span>
				  </span>
			  </div>
		  </div>
	  </div>
	  <div class="box">
		  <h3>等待收获</h3>
		  <div class="table"></div>
	  </div>
	  <div class="box">
		  <div class="chart"></div>
	  </div>
  </ion-content>
</ion-view>
