<ion-view view-title="个人中心">
	
  <ion-content padding="true">
      <div class="box text-center">
		  <img class="circle" ng-if="member.sex == 1" src="images/female1.jpg">
		  <img class="circle" ng-if="member.sex == 2" src="images/male1.jpg">
	  </div>
	  <div class="box text-center">
		  <strong style="font-size:18px;" class="pr">{{member.truename || member.nickname || member.username}}</strong>
		  <span class="pr">
			  <span class="level"></span>
			  <span>经理人</span>
		  </span>
		  <span>
			  诚信 ： 
			  <img class="bstar" ng-repeat="n in member.believe | range" src="images/love-color.png">
			  <img class="bstar" ng-repeat="n in 5 - member.believe | range" src="images/love-gray.png">
		  </span>
	  </div>

	  <div class="box text-center">
		  <div class="table bg-dark-alpha">
			  <div class="row">
					<div class="col">
						<h5>DMD币</h5>
						<span class="money">{{member.dmd || 0}}</span>
					</div>
					<div class="col">
						<h5>本金总额</h5>
						<span class="money">{{member.capital.sum | currency:'￥'}}</span>
					</div>
					<div class="col">
						<h5>利息总额</h5>
						<span class="money">{{member.interest | currency:'￥'}}</span>
					</div>
					<div class="col">
						<h5>奖金总额</h5>
						<span class="money">{{member.capital.bonus | currency:'￥'}}</span>
					</div>
				</div>
		  </div>
	  </div>

	  <div class="box text-center">
			<button class="button btn-offer m" ui-sref="app.offer" style="width:40%">
				我要播种
			</button>
			<button class="button btn-apply m" ui-sref="app.apply" style="width:40%">
				我要收获
			</button>
	  </div>
	  
	  <div class="box" ng-if="member.lastOffer">
		  <h4 class="color-green">正在播种</h4>
		  <div class="table bg-dark-alpha">
			  <div class="row">
				  <div class="col">
					  <label>金额：</label>
					  <br> 
					  <span class="money">{{member.lastOffer.money | currency : '￥'}}</span>
				  </div>
				  <div class="col">
					  <label>时间：</label> <br><time>{{member.lastOffer.the_time | datetime}}</time>
				  </div>
			  </div>
			  <div class="row">
				  <div class="col">
					  <label>利息：</label><br><span class="money">{{member.capital.about | currency : '￥'}}</span>
				  </div>
				  <div class="col">
					  <label>匹配人数：</label><br><span class="number">{{member.lastOffer.pairs.length}}人</span>
				  </div>
				  <div class="col">
					  <label>状态：</label><br><span class="state2 state2-{{member.lastOffer.state}}">{{member.lastOffer.state | orderstate}}</span>
				  </div>
			  </div>
			  <div class="row">
				  <div class="col text-center">
					  <button class="button button-balanced" ui-sref="app.offerdetail({id:{{member.lastOffer.id}}})">查看</button>
				  </div>
			  </div>
		  </div>
	  </div>

	  <div class="box" ng-if="!member.lastOffer">
		  <h4 class="color-green">等待播种...</h4>
		  <div class="table bg-dark-alpha"></div>
	  </div>

	  <div class="box" ng-if="member.lastApply">
		  <h4 class="color-green">正在收获</h4>
		  <div class="table bg-dark-alpha">
			  <div class="row">
				  <div class="col">
					  <label>金额：</label>
					  <br> 
					  <span class="money">{{member.lastApply.money | currency : '￥'}}</span>
				  </div>
				  <div class="col">
					  <label>时间：</label> <br><time>{{member.lastApply.the_time | datetime}}</time>
				  </div>
			  </div>
			  <div class="row">
				  <div class="col">
					  <label>匹配人数：</label><br><span class="number">{{member.lastApply.pairs.length}}人</span>
				  </div>
				  <div class="col">
					  <label>状态：</label><br><span class="state2 state2-{{member.lastApply.state}}">{{member.lastApply.state | orderstate}}</span>
				  </div>
			  </div>
			  <div class="row">
				  <div class="col text-center">
					  <button class="button button-balanced" ui-sref="app.applydetail({id:{{member.lastApply.id}}})">查看</button>
				  </div>
			  </div>
		  </div>
	  </div>

	 <div class="box" ng-if="!member.lastApply">
		  <h4 class="color-green">等待收获...</h4>
		  <div class="table bg-dark-alpha"></div>
	  </div>

  </ion-content>
</ion-view>
