<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark bar-black">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">我的头像</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/me">
          <img src="images/icon1.png">个人中心
        </ion-item>
        <ion-item menu-close href="#/app/apply">
          <img src="images/icon2.png">我要播种
        </ion-item>
        <ion-item menu-close href="#/app/offer">
          <img src="images/icon3.png">我要收获
        </ion-item>
        <ion-item menu-close href="#/app/info">
          <img src="images/icon4.png">我的资料
        </ion-item>
        <ion-item menu-close href="#/app/group">
          <img src="images/icon5.png">我的团队
        </ion-item>
        <ion-item menu-close href="#/app/money">
          <img src="images/icon6.png">我的资产
        </ion-item>
        <ion-item menu-close href="#/app/records">
          <img src="images/icon7.png">交易记录
        </ion-item>
        <ion-item menu-close href="#/app/news">
          <img src="images/icon8.png">新闻公告
        </ion-item>
        <ion-item menu-close href="#/app/message">
          <img src="images/icon9.png">消息通知
        </ion-item>
        <ion-item menu-close href="#/app/leavemsg">
          <img src="images/icon10.png">在线留言
        </ion-item>
        <ion-item menu-close href="#/app/share">
          <img src="images/icon11.png">分享注册
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
