<ion-view view-title="ME">
  <ion-content>
    <ion-list>
      <ion-item>
        <h4>【回复】晓燕</h4>
        <time>2016-06-22 14:36:35</time>
      </ion-item>
      <ion-item>
        <h4>【回复】晓燕</h4>
        <time>2016-06-22 14:36:35</time>
      </ion-item>
      <ion-item>
        <h4>【回复】晓燕</h4>
        <time>2016-06-22 14:36:35</time>
      </ion-item>
      <ion-item>
        <h4>【回复】晓燕</h4>
        <time>2016-06-22 14:36:35</time>
      </ion-item>
      <ion-item>
        <h4>【回复】晓燕</h4>
        <time>2016-06-22 14:36:35</time>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
