<ion-view view-title="ME">
  <ion-content>
    <ion-tabs class="tabs-striped tabs-bottom tabs-background-dark tabs-color-energized">
      <ion-tab title="总资产">
        <ion-content>
          <div class="box" style="height:100px;">
            <ul>
              <li>账户总资产：<span class="money">￥514548</span></li>
              <li>账户冻结总资产：<span class="money">￥514548</span></li>
              <li>账户正在提现总资产：<span class="money">￥514548</span></li>
              <li>账户可提现总资产：<span class="money">￥514548</span></li>
            </ul>
            <p class="tips">
              提现说明：首先扣除可提团队奖，不够再扣利息，利息不够再扣可提本金。
            </p>
          </div>
        </ion-content>
      </ion-tab>
      <ion-tab title="本金">
        <ion-content>
          <div class="line2">
            <ul>
              <li>本金总额：<span class="money">￥514548</span></li>
              <li>本金冻结总额：<span class="money">￥514548</span></li>
              <li>本金可提现总额：<span class="money">￥514548</span></li>
            </ul>
          </div>
          <ion-list>
            <ion-item>
              <ul>
                <li>金额：<span class="money">￥514548</span></li>
                <li>时间：<time>2016-06-23 11:23:56</time></li>
                <li>说明：<span class="intro">成功播种￥1545454.00元，本金将在冻结7天后自动收入现金</span></li>
              </ul>
            </ion-item>
             <ion-item>
              <ul>
                <li>金额：<span class="money">￥514548</span></li>
                <li>时间：<time>2016-06-23 11:23:56</time></li>
                <li>说明：<span class="intro">成功播种￥1545454.00元，本金将在冻结7天后自动收入现金</span></li>
              </ul>
            </ion-item>
             <ion-item>
              <ul>
                <li>金额：<span class="money">￥514548</span></li>
                <li>时间：<time>2016-06-23 11:23:56</time></li>
                <li>说明：<span class="intro">成功播种￥1545454.00元，本金将在冻结7天后自动收入现金</span></li>
              </ul>
            </ion-item>
          </ion-list>
        </ion-content>        
      </ion-tab>
      <ion-tab title="利息">
        <ion-content>
          <div class="line2">
            <ul>
              <li>利息总额：<span class="money">￥514548</span></li>
              <li>利息可提现总额：<span class="money">￥514548</span></li>
            </ul>
          </div>
          <ion-list>
            <ion-item>
              <ul>
                <li>金额：<span class="money">￥514548</span></li>
                <li>时间：<time>2016-06-23 11:23:56</time></li>
                <li>说明：<span class="intro">成功播种￥1545454.00元，本金将在冻结7天后自动收入现金</span></li>
              </ul>
            </ion-item>
             <ion-item>
              <ul>
                <li>金额：<span class="money">￥514548</span></li>
                <li>时间：<time>2016-06-23 11:23:56</time></li>
                <li>说明：<span class="intro">成功播种￥1545454.00元，本金将在冻结7天后自动收入现金</span></li>
              </ul>
            </ion-item>
             <ion-item>
              <ul>
                <li>金额：<span class="money">￥514548</span></li>
                <li>时间：<time>2016-06-23 11:23:56</time></li>
                <li>说明：<span class="intro">成功播种￥1545454.00元，本金将在冻结7天后自动收入现金</span></li>
              </ul>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-tab>
      <ion-tab title="团队奖励">
        <ion-content>
          <div class="line2">
            <ul>
              <li>团队奖励总额：<span class="money">￥514548</span></li>
              <li>团队奖励冻结总额：<span class="money">￥514548</span></li>
              <li>团队奖励可提现总额：<span class="money">￥514548</span></li>
            </ul>
          </div>
          <ion-list>
            <ion-item>
              <ul>
                <li>金额：<span class="money">￥514548</span></li>
                <li>时间：<time>2016-06-23 11:23:56</time></li>
                <li>说明：<span class="intro">成功播种￥1545454.00元，本金将在冻结7天后自动收入现金</span></li>
              </ul>
            </ion-item>
             <ion-item>
              <ul>
                <li>金额：<span class="money">￥514548</span></li>
                <li>时间：<time>2016-06-23 11:23:56</time></li>
                <li>说明：<span class="intro">成功播种￥1545454.00元，本金将在冻结7天后自动收入现金</span></li>
              </ul>
            </ion-item>
             <ion-item>
              <ul>
                <li>金额：<span class="money">￥514548</span></li>
                <li>时间：<time>2016-06-23 11:23:56</time></li>
                <li>说明：<span class="intro">成功播种￥1545454.00元，本金将在冻结7天后自动收入现金</span></li>
              </ul>
            </ion-item>
          </ion-list>
        </ion-content>    
      </ion-tab>
    </ion-tabs>
  </ion-content>
</ion-view>
