<ion-view view-title="新闻公告">
  <ion-content padding="true">
    <ion-list>
      <ion-item>
        <h4>登录网址优化</h4>
        <time>2016-06-22 14:36:35</time>
      </ion-item>
      <ion-item>
        <h4>登录网址优化</h4>
        <time>2016-06-22 14:36:35</time>
      </ion-item>
      <ion-item>
        <h4>登录网址优化</h4>
        <time>2016-06-22 14:36:35</time>
      </ion-item>
      <ion-item>
        <h4>登录网址优化</h4>
        <time>2016-06-22 14:36:35</time>
      </ion-item>
    </ion-list>


<div class="list">
              <label class="item item-input">
                <span class="input-label">留言标题：</span>
                <input type="text" value="">
              </label>
              <label class="item item-input item-select">
                <span class="input-label">问题类型：</span>
                <select>
                  <option>建议或意见</option>
                  <option selected>信息咨询</option>
                  <option>申请账户解冻</option>
                  <option>投诉举报</option>
                </select>
              </label>
              <label class="item item-input">
                <span class="input-label">上传图片：</span>
                <input type="file" value="">
              </label>
              <label class="item item-input">
                <span class="input-label">留言内容：</span>
                <textarea></textarea>
              </label>
              <button class="button button-balanced button-block">提交留言</button>
            </div>

  </ion-content>
</ion-view>
