<ion-view view-title="我要播种">
  <ion-content padding="true">
      <div ng-if="data.first" class="box table text-center">
        <div class="row">
          <div class="col">
            <a class="offer-option" ng-class="{on: data.money == config.key2[0]}" ng-click="select(config.key2[0])" href="">{{config.key2[0]}}</a>
            <span>首次购买激活币</span>
          </div>
        </div>
      </div>
      <div ng-if="!data.first" class="box table text-center">
        <div class="row">
          <div class="col">
            <a class="offer-option" ng-class="{on: data.money == config.key2[0]}" ng-click="select(config.key2[0])" href="">{{config.key2[0]}}</a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a class="offer-option" ng-class="{on: data.money == config.key2[1]}" ng-click="select(config.key2[1])" href="">{{config.key2[1]}}</a>
          </div>
          <div class="col">
            <a class="offer-option" ng-class="{on: data.money == config.key2[2]}" ng-click="select(config.key2[2])" href="">{{config.key2[2]}}</a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a class="offer-option" ng-class="{on: data.money == config.key2[3]}" ng-click="select(config.key2[3])" href="">{{config.key2[3]}}</a>
          </div>
          <div class="col">
            <a class="offer-option" ng-class="{on: data.money == config.key2[4]}" ng-click="select(config.key2[4])" href="">{{config.key2[4]}}</a>
          </div>
          <div class="col">
            <a class="offer-option" ng-class="{on: data.money == config.key2[5]}" ng-click="select(config.key2[5])" href="">{{config.key2[5]}}</a>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="tips">
          <h4 class="color-warning">平台提示：</h4>
          <p>
            本平台只提供大家一个信息交流的渠道，平台不收取任何费用，资金在会员中流转，闲钱互助，风险自控！请在自愿的前提下完成交易。
          </p>
        </div>
        <ion-checkbox class="checkbox-balanced" ng-model="data.isChecked">我已阅读并同意</ion-checkbox>
      </div>
      <div class="box">
        <button class="button button-block btn-offer" ng-click="offer()">
          我要播种
        </button>
      </div>
  </ion-content>
</ion-view>
