<ion-view view-title="ME">
  <ion-content>
      <div class="box table">
        <div class="row">
          <div class="cell">
            <a class="offer-option" href="">1000</a>
          </div>
        </div>
        <div class="row">
          <div class="cell">
            <a class="offer-option" href="">3000</a>
          </div>
          <div class="cell">
            <a class="offer-option" href="">5000</a>
          </div>
        </div>
        <div class="row">
          <div class="cell">
            <a class="offer-option" href="">10000</a>
          </div>
          <div class="cell">
            <a class="offer-option" href="">30000</a>
          </div>
          <div class="cell">
            <a class="offer-option" href="">50000</a>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="tips">
          <h4>平台提示：</h4>
          <p>
            本平台只提供大家一个信息交流的渠道，平台不收取任何费用，资金在会员中流转，闲钱互助，风险自控！请在自愿的前提下完成交易。
          </p>
        </div>
        <ion-checkbox ng-model="isChecked">我已阅读并同意</ion-checkbox>
      </div>
      <div class="box">
        <button class="button button-block btn-offer">
          我要播种
        </button>
      </div>
  </ion-content>
</ion-view>
