<ion-view view-title="交易记录">

    <ion-tabs class="tabs-striped tabs-bottom tabs-background-dark tabs-color-energized tabs-positive">
      <ion-tab title="播种记录" on-select="onTabSelected(0)">
        <ion-content padding="true">
          <div class="padding-y">
            <div class="list">
              <div class="item">
                  <img style="width:200px;height:200px;" ng-src="{{record.photo}}" ng-show="record.photo">
              </div>
              <div class="item item-input" style="padding-right: 16px;">
                  <span class="input-label">拍照:</span>
                  <button class="button icon button-large ion-camera" ng-click="takeImage()"></button>
                  <button class="button icon button-large ion-ios-folder-outline" ng-click="uploadImage()"></button>
              </div>
            </div>
            <ion-list>
              <ion-item ng-repeat="item in records.offers">
                <ul>
                  <li>
                    <label>编号：</label> <span class="yellow">{{item.offer.code}}</span>
                  </li>
                  <li>
                    <label>状态：</label> <span class="status status-2">{{item.offer.state | orderstate}}</span>
                  </li>
                  <li>
                    <label>金额 ：</label> <span class="money">{{item.offer.money | currency : '￥'}}</span>
                  </li>
                  <li>
                    <label>时间 ：</label> <time>{{item.offer.the_time | datetime}}<time>
                  </li>
                  <li class="text-center">
                    <button class="button button-balanced" ui-sref="app.offerdetail({id:{{item.offer.id}}})">查看</button>
                  </li>
                </ul>
              </ion-item>
            </ion-list>
          </div>
        </ion-content>
      </ion-tab>
      <ion-tab title="收获记录"  on-select="onTabSelected(1)">
        <ion-content padding="true">
          <div class="padding-y">
            <ion-list>
              <ion-item ng-repeat="item in records.applys">
                <ul>
                  <li>
                    <label>编号：</label> <span class="yellow">{{item.apply.code}}</span>
                  </li>
                  <li>
                    <label>状态：</label> <span class="status status-2">{{item.apply.state | orderstate}}</span>
                  </li>
                  <li>
                    <label>金额 ：</label> <span class="money">{{item.apply.money | currency : '￥'}}</span>
                  </li>
                  <li>
                    <label>时间 ：</label> <time>{{item.apply.the_time | datetime}}<time>
                  </li>
                  <li class="text-center">
                    <button class="button button-balanced">查看</button>
                  </li>
                </ul>
              </ion-item>
              <ion-item>
                <ul>
                  <li>
                    <label>编号：</label> <span class="yellow">O89y38489345y793456</span>
                  </li>
                  <li>
                    <label>状态：</label> <span class="status status-2">进行中...</span>
                  </li>
                  <li>
                    <label>金额 ：</label> <span class="money">￥215645458.00</span>
                  </li>
                  <li>
                    <label>时间 ：</label> <time>2015-02-23 12:25:32<time>
                  </li>
                  <li class="text-center">
                    <button class="button button-balanced">查看</button>
                  </li>
                </ul>
              </ion-item>
            </ion-list>
          </div>
        </ion-content>
      </ion-tab>
      <ion-tab title="失败记录" on-select="onTabSelected(2)">
        <ion-content padding="true">
          <div class="padding-y">
            <ion-list>
              <ion-item ng-repeat="item in records.fails">
                <ul>
                  <li><label>类型：</label> <span class="yellow">{{member.id == item.om_id ? '播种' : '收获'}}</span></li>
                  <li><label>金额：</label><span class="money">{{item.money | currency : '￥'}}<span></li>
                  <li><label>编号：</label><span class="yellow">{{item.code}}</span></li>
                  <li><label>匹配时间：</label><time>{{item.the_time | datetime}}</time></li>
                  <li><label>对方姓名：</label> <span class="yellow">{{member.id == item.om_id ? item.am.truename : item.om.truename}}</span></li>
                  <li><label>对方手机：</label><span class="yellow">{{member.id == item.om_id ? item.am.mobile : item.om.mobile}}</span></li>
                  <li><label>解除匹配时间：</label><time>{{item.unmatch_time | datetime}}</time></li>
                  <li><label>原因：</label><p class="intro">{{item.intro}}</span></li>
                </ul>
              </ion-item>
          </ion-list>
          </div>
        </ion-content>
      </ion-tab>
    </ion-tabs>
</ion-view>
