<ion-view view-title="ME">
  <ion-content>
    
    <ion-tabs class="tabs-striped tabs-bottom tabs-background-dark tabs-color-energized">
      <ion-tab title="播种记录">
        <ion-content>
          <ion-list>
            <ion-item>
              <ul>
                <li>
                  编号：<span class="code">O89y38489345y793456</span>
                  <span>状态：<label class="status status-2">进行中...</label></span>
                </li>
                <li>
                  金额 ： <span class="money">￥215645458.00</span>
                </li>
                <li>
                  时间 ： <time>2015-02-23 12:25:32<time>
                </li>
                <li class="text-right">
                  <button class="button button-balanced">查看</button>
                </li>
              </ul>
            </ion-item>
            <ion-item>
              <ul>
                <li>
                  编号：<span class="code">O89y38489345y793456</span>
                  <span>状态：<label class="status status-2">进行中...</label></span>
                </li>
                <li>
                  金额 ： <span class="money">￥215645458.00</span>
                </li>
                <li>
                  时间 ： <time>2015-02-23 12:25:32<time>
                </li>
                <li class="text-right">
                  <button class="button button-balanced">查看</button>
                </li>
              </ul>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-tab>
      <ion-tab title="收获记录">
        <ion-content>
           <ion-list>
            <ion-item>
              <ul>
                <li>
                  编号：<span class="code">O89y38489345y793456</span>
                  <span>状态：<label class="status status-2">进行中...</label></span>
                </li>
                <li>
                  金额 ： <span class="money">￥215645458.00</span>
                </li>
                <li>
                  时间 ： <time>2015-02-23 12:25:32<time>
                </li>
                <li class="text-right">
                  <button class="button button-balanced">查看</button>
                </li>
              </ul>
            </ion-item>
            <ion-item>
              <ul>
                <li>
                  编号：<span class="code">O89y38489345y793456</span>
                  <span>状态：<label class="status status-2">进行中...</label></span>
                </li>
                <li>
                  金额 ： <span class="money">￥215645458.00</span>
                </li>
                <li>
                  时间 ： <time>2015-02-23 12:25:32<time>
                </li>
                <li class="text-right">
                  <button class="button button-balanced">查看</button>
                </li>
              </ul>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-tab>
      <ion-tab title="失败记录">
        <ion-content>
          <ion-list>
            <ion-item>
              <ul>
                <li>类型：<span>收获</span><span>金额：<label>￥551454.00</label><span></li>
                <li>编号：OSGHDGFHDTGH15445</li>
                <li>匹配时间：<time>2015-06-08 12:23:12</time></li>
                <li>对方姓名：<span>有你</span></li>
                <li>对方手机：<span>18742538743</span></li>
                <li>解除匹配时间：<time>2015-02-23 12:23:14</time></li>
                <li>原因：<span>----------</span></li>
              </ul>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-tab>
    </ion-tabs>

  </ion-content>
</ion-view>
