<ion-view view-title="ME">
  <ion-content>
    <div class="box" style="text-align:center;">
      <img style="width:200px;height:200px;" src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=1727567261,707259290&fm=58" class="qrcode">
    </div>
    <h3 style="color:#FEC107;font-size:18px;text-align:center">二维码分享</h3>
    <div class="box" style="text-align:center">
      <a href="http://114.55.114.236/?act=reg&refer=18742538743" style="color:#fff;">http://114.55.114.236/?act=reg&refer=18742538743</a>
      <br><br><br><br>
      <a href="javascript:;" ng-click="" style="font-size:18px;color:green;">长按复制链接</a>
    </div>
  </ion-content>
</ion-view>
