<ion-view view-title="分享">
  <ion-content padding="true">
    <div class="box" style="text-align:center;">
      <img style="width:200px;height:200px;" ng-src="{{qrCodeUrl}}" class="qrcode">
    </div>
    <h3 style="color:#FEC107;font-size:18px;text-align:center">二维码分享</h3>
    <div class="box" style="text-align:center">
      <a ng-href="{{regUrl}}" style="color:#fff;">{{regUrl}}</a>
      <br><br><br><br>
      <a href="javascript:;" ng-click="" style="font-size:18px;color:#fff;">长按复制链接</a>
    </div>
  </ion-content>
</ion-view>