<ion-view>
  <ion-content>
    <div class="text-center" style="margin-top:100px;margin-bottom:50px;">
      <img src="images/logo_zh.png">
    </div>

    <ul id="signup" style="margin-left:50px;margin-right:50px;">
        <h4 style="color: #32D94B;" class="text-center">
            用户注册
        </h4>
		<li><span>推荐人：</span><em> {{user.refer.username}}</em></li>
		<li><span>推荐人手机：</span><em> {{user.refer.mobile}} </em></li>
		<li class="sk">
			<span>性别：</span>
			<label class="s1">
                <input type="radio" ng-value="1" ng-model="user.sex">
                <img src="images/s1.jpg" style="height:30px;width:30px" />
            </label>
			<label class="s2">
                <input type="radio" ng-value="2" ng-model="user.sex">
                <img src="images/s2.jpg" style="height:30px;width:30px" />
            </label>
		</li>
		<li>
            <label class="item item-input" style="border-radius:5px;">
              <i class="icon ion-person placeholder-icon"></i>
              <input type="text" ng-model="user.username" placeholder="昵称">
            </label>
        </li>
		<li>
            <label class="item item-input" style="border-radius:5px;">
              <i class="icon ion-locked placeholder-icon"></i>
              <input type="password" ng-model="user.pwd" placeholder="密码">
            </label>
        </li>
		<li>
            <label class="item item-input" style="border-radius:5px;">
              <i class="icon ion-locked placeholder-icon"></i>
              <input type="password" ng-model="user.pay_pwd" placeholder="安全密码">
            </label>
        </li>
		<li>
            <label class="item item-input" style="border-radius:5px;">
              <i class="icon ion-ipad placeholder-icon"></i>
              <input type="text" ng-model="user.mobile" placeholder="会员手机">
            </label>
        </li>

        <li class="item item-input-inset" style="border-radius:5px;">
            <label class="item item-input" style="border-radius:5px;">
              <input type="text"  placeholder="图形验证码">
            </label>
            <img src="" />
        </li>
        <li class="item item-input-inset" style="border-radius:5px;">
            <label class="item item-input" style="border-radius:5px;">
              <i class="icon ion-ipad placeholder-icon"></i>
              <input type="text" ng-model="user.verifycode" placeholder="手机验证码">
            </label>
            <button class="button button-balanced" style="margin-left:10px;background-color:#FFC30D;font-weight:bold;border-radius:8px;">
                获取验证码
            </button>
        </li>
	</ul>
    <div style="margin-left:70px;margin-right:70px;">
        <button class="button button-large button-block button-balanced" style="font-weight:bold;border-radius:8px;">
            注册
        </button>
    <div>
  </ion-content>
</ion-view>

<style>
    #signup li {
        margin-top:10px;
        margin-bottom:10px;
    }
    #signup li span
    {
        font-weight: bold;
        color: #FADA70;
    }
    #signup li em
    {
        color: #FADA70;
    }
</style>
