.btn-offer , .btn-apply{ font-size: 18px;font-weight: bold;}
.btn-offer{background: url(../images/btn-offer-bg.png) repeat-x;color: #428110;}
.btn-apply{background: url(../images/btn-apply-bg.png) repeat-x;color: #683E03;}
img.captcha{width:80px;height:40px;}
.box {margin:4px auto;padding: 3px;}
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.scroll-content { background: url(../images/bg.jpg); background-size: 100% 100% }
.avator-female , .avator-male, .avator-dmd{ padding: 15px 30px; background-size: cover ;}
.avator-female{background: url(../images/female1.jpg) no-repeat}
.avator-male{ background: url(../images/male1.jpg) no-repeat}
.avator-dmd { background: url(../images/logo2.png) no-repeat}
.line { border-bottom: 1px dashed #efefef; }
